{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    function showAlert(){
      alert("File Uploaded Successful")
    }
  </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <title>Upload File</title>
</head>
{% if flag == "fail" %}
<body onload="showAlert()">
{% endif %}
<body>
  
    <!-- <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {{form.demail}}</br>
        {{form.filename}}</br>
        {{form.files}}</br>
        <input type="submit" value="submit">
    </form> -->
    <form action method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1><strong>File upload</strong> Upload Your Files with IDRIVE</h1>
        
        <div class="form-group">
          <label for="filename">Filename=<span> Enter the Filename</span></label>
          <input type="text" name="filename"  class="form-controll"/>
        </div>
        <div class="form-group">
          <label for="description">Caption= <span>   Enter the File Caption</span></label>
          <input type="text" name="description"  class="form-controll"/>
        </div>
        
        <div class="form-group file-area">
            {{form.files}}
        </div>
        
        <div class="form-group">
          <button type="submit">Upload File</button>
        </div>
        
      </form>
      <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
      
</body>
</html>